<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.finance.business.mapper.CustomerMapper">
    <insert id="initializationData">
        insert into `industry_${tableId}`
        select * from industry;
        insert into `subject_${tableId}`
        select  * from subject;
    </insert>
    <update id="executeSql">
        ${sql}
    </update>
    <update id="dropRelatedTblByTableIdentified">
        drop table if exists industry_${tblIdentified};
        drop table if exists subject_${tblIdentified};
        drop table if exists sequence_${tblIdentified};
    </update>
</mapper>
