<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.finance.business.mapper.UserResourceMapper">

    <select id="listResourceByUserId" resultType="org.finance.business.entity.Resource">
        select f.id,f.number,f.name,f.parent_id,f.parent_number,f.has_leaf,f.level,f.type,f.url,f.icon,
            f.business_code, uf.permit_code,f.sort_num, f.module
        from `resource` f
        inner join user_resource uf
        on (uf.user_id = #{userId} and uf.resource_id = f.id)
        order by f.sort_num asc
    </select>
    <select id="listResourceByUserIdAndModule" resultType="org.finance.business.entity.Resource">
        select f.id,f.number,f.name,f.parent_id,f.parent_number,f.has_leaf,f.level,f.type,f.url,f.icon,
               f.business_code, uf.permit_code,f.sort_num, f.module
        from `resource` f
                 inner join user_resource uf
                            on (uf.user_id = #{userId} and uf.resource_id = f.id)
        where f.module = #{module}
        order by f.sort_num asc
    </select>

</mapper>
